.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quantity {
  font-size: large;
  font-weight: bold;
  margin: 60px;
}

.quantity-input {
  height: 4vh;
  text-align: center;
  font-size: large;
  font-weight: bold;
}

.quantity-minus,
.quantity-plus {
  padding: 16.5px;
  background-color: rgb(72 228 139);
  cursor: pointer;
}

.quantity-minus:hover,
.quantity-plus:hover {
  background-color: rgb(24 78 48);
  color: white;
}
